@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');
strong {font-family: "Source Code Pro", monospace; font-weight:700}
.oef_feedbacks {font-family: "Source Code Pro", monospace; font-weight:400}
.oef_indbad,.oef_condbad {font-style: italic;}
